.nav a.active{
    color: aqua;
}

nav a{
padding: 5px 10px;
text-decoration: none;
margin-top: 10px;
display: inline-block;
background-color: aliceblue;
border-radius: 4px;
}

h1{
    text-align: center;
    color: rebeccapurple
}